# Project exclude paths
/DP-01-Factory/target/
/DP-02-AbstractFactory/target/
/DP-03-Singleton/target/
/DP-04-Builder/target/
/DP-05-Prototype/target/
/DP-06-Adapter/target/
/DP-07-Bridge/target/
/DP-08-Filter/target/
/DP-09-Composite/target/
/DP-10-Decorator/target/
/DP-11-Facade/target/
/DP-12-Flyweight/target/
/DP-13-Proxy/target/
/DP-14-ChainOfResp/target/
/DP-15-Command/target/
/DP-16-Interpreter/target/
/DP-17-Iterator/target/
/DP-18-Mediator/target/
/DP-19-Memento/target/
/DP-20-Observer/target/
/DP-21-State/target/
/DP-22-NullObject/target/
/DP-23-Strategy/target/
/DP-24-Template/target/
/DP-25-Visitor/target/